* {
    box-sizing: border-box;
}

h1{
  text-shadow: 1px 2px 1px #726C82;
  font-style: italic;
  text-align: center;
  font-size: 30px;
  font-variant: small-caps;
}
.container{
  padding-top: 8px;
  margin-top: 20px;
  height: 376px;
  background-color: pink;
  font-family: Georgia, Serif;
  height:405px;
  width: 40%;
}
.question1{
  font-size: 20px;
  font-variant: small-caps;
}

.container_body{
  text-align: center;
  padding: 10px;
}
#timer{
  text-align: center;
  font-weight: 500;
  font-style: italic;
}
.question{
  font-size: 17px;
  font-weight: 500;
}
.status{
  font-size: 16px;
  font-style: italic;
  font-weight: 500;
}
